body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orangered;
}

.flexble-area {
    display: flex;
}

.half-weith {
    width: 50%;
    padding-left: 3%;
}

.half-weith img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

.padding-top {
    padding-top: 5%;
}

.margin-botton {
    margin-bottom: 5%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.right-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experions-padding{
    padding: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiance-div{
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgb(53, 79, 93);
    padding: 10px 15px; 
    
}
.experians-style{
    text-align: center;
    
}
#border-style-one{
    border-left: 7px solid;
    border-radius: 5px;
    border-image: linear-gradient(rgb(6, 237, 21), tomato);
    border-image-slice: 1;


}
#border-style-two{
    border-left: 7px solid;
    border-radius: 7px;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

